<sw-card
    class="swag-paypal-settings-sales-channel-switch"
    position-identifier="swag-paypal-settings-sales-channel-switch"
    :title="$tc('global.entities.sales_channel', 2)"
>
    <template #header-right>
        <sw-internal-link :router-link="{ name: 'sw.settings.payment.overview' }">
            {{ $t('sw-settings-payment.general.mainMenuItemGeneral') }}
        </sw-internal-link>
    </template>

    <sw-single-select
        v-model:value="settingsStore.salesChannel"
        :is-loading="isLoading || settingsStore.isLoading"
        :options="salesChannels"
        :disabled="!acl.can('swag_paypal.editor') || isLoading || settingsStore.isLoading"
    />

    <template #footer>
        <sw-container columns="2fr 1fr" gap="0px 30px">
            <p>{{ $t('swag-paypal-settings-sales-channel-switch.description') }}</p>

            <sw-button-process
                :process-success="defaultPaymentMethods === 'success'"
                :is-loading="defaultPaymentMethods === 'loading'"
                :disabled="!acl.can('swag_paypal.editor') || isLoading"
                @update:process-success="defaultPaymentMethods === 'none'"
                @click="onSetPaymentMethodDefault"
            >
                {{ $t('swag-paypal-settings-sales-channel-switch.label') }}
            </sw-button-process>
        </sw-container>
    </template>
</sw-card>
