<div class="sw-extension-store-accessibility">
    <strong class="sw-extension-store-accessibility__info">
        {{ $tc('sw-extension-store-accessibility.accessibility-text') }}
    </strong>

    <sw-external-link
        class="sw-extension-store-accessibility__link sw-button sw-button--primary"
        :href="$tc('sw-extension-store-accessibility.accessibility-link')"
    >
        {{ $tc('sw-extension-store-accessibility.accessibility-more-information') }} <sw-icon name="regular-long-arrow-right" size="12px" />
    </sw-external-link>
</div>
