{% sw_extends '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' %}

{% set dataUrl = url('frontend.gally.viewMore') %}

{% block component_filter_multi_select_list_item %}
    {% if element.id == "gally-show-more" %}
        <li class="filter-multi-select-list-item filter-property-select-list-item">
            <a class="viewMoreLink" data-filter-code="" data-url="{{ dataUrl }}">{{ 'gally.filter.viewMore' | trans }}</a>
        </li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
