{#{% sw_extends  '@Storefront/storefront/page/account/register/index.html.twig'%}#}

{% block base_content %}
{% block test %}
        <div class="wka-header-title">
         <h1>Hi there</h1>
        </div
{% endblock %}
{% endblock %}


{#{% block page_account_register %}#}
{#        <div class="account-register">#}
{#            {% block page_account_register_header %}#}
{#                <h1 class="wka-header-title">{{ 'account.loginRegistrationHeader'|trans|sw_sanitize }}</h1>#}
{#            {% endblock %}#}
{#        </div>#}
{#{% endblock %}#}
